@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

.container-site {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/**Шапка **/

.header-container {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  min-height: 64px;
}

.navigation {
  display: flex;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 340px;
  margin-right: 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 270px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
  height: 64px;
  margin-right: 28px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  list-style-type: none;
}

.menu-button {
  width: 160px;
  height: 36px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-badge {
  background-color: #7DB54F;
  border-radius: 10px;
  min-width: 20px;
  min-height: 20px;
}

/**main **/

.hero {
  color: #000000;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  min-height: 485px;
}

.hero h1{
  margin: 0;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.hero-advantages{
padding: 69px 274.5px;
}

.hero-advantages .lead {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  min-height: 72px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hero-advantages p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
}

.advantages-item-wide {
  width: 100%;
  display: flex;
}

.advantages-item-text {
  padding: 98px 85px;
}

.advantages-item-img {
  width: 800px;
  height: 385px;
}

.advantages-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-wide h3 {
  color: #ffffff;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list .advantages-item-wide {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages {
  text-align: center;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 230px;
  min-height: 160px;
  padding: 112.5px 85px;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-hotel .search-hotel-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-hotel a {
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription {
  background-image: url("../images/subscribe-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.subscription h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/**подвал **/

.main-footer {
  color: #000000;
  width: 1200px;
  margin: 0 auto;
  width: 1060px;
  padding-right: 70px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
}

.social-item a {
  color: #000000;
  text-decoration: none;
}

.social-list {
  list-style: none;
  width: 142px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.contacts-phone {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 331px;
}

.filter-background {
  background-image: url("../images/subscribe-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}

.filter-background-container {
  width: 1060px;
  padding: 0 70px;
}

.catalog-filter {
  width: 1060px;
  display: flex;
  justify-content: space-between;
}

.main-inner h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  width: 114px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.breadcrumbs-item {
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
}

.breadcrumbs-item a {
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-list {
  list-style: none;
}

.select-container {
  display: flex;
  width: 1060px;
  padding: 0 70px;
  justify-content: space-between;
}

.page-search {
  margin-right: 200px;
  width: 338px;
}

.button-filter-container {
  width: 160px;
}

.filter-background .catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-background .catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.page-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
}

.product-list {
  list-style: none;
  width: 1060px;
  padding: 0 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px;
}

.product-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.product-card p {
  margin: 0;
}

.product-card img {
  margin-bottom: 16px;
}

.product-card a {
  color: #000000;
  text-decoration: none;
  display: block;
}

.card-price-container {
  display: flex;
  margin-bottom: 16px;
}

.product-card-price {
  margin-left: auto;
}

.card-button-container {
  display: flex;
  margin-bottom: 16px;
}

.product-card-button-favorites {
  margin-left: auto;
}

.star-rating {
  display: flex;
  margin-bottom: 0;
}

.product-card h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: #000000;
}

.product-card {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #e6e6e6;
  color: #333333;
  width: 340px;
  min-height: 438px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

.card-button-container a {
  width: 140px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.product-card .product-card-button {
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.product-card .product-card-button-favorites {
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.product-card .rating {
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  width: 140px;
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.product-card .stars {
  width: 140px;
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 4px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: start;
  padding: 0 70px;
  gap: 8px;
}

.pagination a {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.subscription-catalog {
  color: #000000;
  text-align: center;
  width: 684px;
  margin-left: 258px;
  margin-right: 258px;
}

.subscription-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscription-catalog p {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
