@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

.container-site {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/**Шапка **/

.header-container {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  min-height: 64px;
}

.navigation {
  display: flex;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 340px;
  margin-right: 285px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.site-navigation-item {
  width: auto;
  min-height: 64px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  padding: 0;
}

.site-navigation .active {
  border-bottom: 2px solid rgba(117, 98, 87, 1);
  box-sizing: border-box;

}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 270px;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu-link {
  width: 44px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  width: 140px;
  height: 64px;
  margin-right: 28px;
  display: flex;
  align-items: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  list-style-type: none;
}

.menu-button {
  width: 160px;
  min-height: 36px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
}

.notification-badge {
  background-color: #7db54f;
  border-radius: 10px;
  min-width: 20px;
  min-height: 20px;
  position: relative;
  right: 11px;
  top: -10px;
  color: #ffffff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
}

.menu-link {
  text-decoration: none;
}

/**main **/

.hero {
  color: #000000;
  background:
    url(../images/hero-border.svg) bottom,
    url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  min-height: 485px;
}

.hero h1 {
  margin: 0;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.hero-advantages {
  padding: 69px 274.5px;
}

.hero-advantages .lead {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  min-height: 72px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hero-advantages p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
}

.advantages-item-wide {
  width: 100%;
  display: flex;
}

.advantages-item-text {
  padding: 98px 85px;
}

.advantages-item-img {
  width: 800px;
  height: 385px;
}

.advantages-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-right: 27.5px;
  padding-left: 27.5px;
}

.advantages-list h3::after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantages-list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-item-wide h3 {
  color: #ffffff;
  margin: 0;
}


.advantages-item-wide h3::after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(5) {
  flex-direction: row-reverse;
}

.advantages-list .advantages-item-wide {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages {
  text-align: center;
}

.advantages-item-container {
  width: 505px;
  min-height: 118px;
  padding: 64px 347.5px;
}

.advantages-item-container h2 {
  margin: 0;
  margin-bottom: 20px;
}

.advantages-item-container p {
  font-size: 22px;
  margin: 0;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 230px;
  min-height: 160px;
  padding: 81px 85px;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.services-item-svg {
  margin-bottom: 30px;
}

.services-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-hotel .search-hotel-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.search-hotel p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;
}

.search-hotel a {
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 376px;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
}

.subscription {
  background-image: url("../images/subscribe-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscription p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  width: 475px;
  margin-bottom: 54px;
  text-align: center;
}

.subscription-form {
  display: flex;
}

.field {
  width: 452px;
  height: 52px;
  box-sizing: border-box;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

input::placeholder {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
  outline: none;
  margin: 0;
}

.button-subscription-button {
  width: 232px;
  height: 52px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}

.search-hotel {
  width: 592px;
  min-height: 214px;
  margin: 96px 304px;
}

/**подвал **/

.main-footer {
  color: #000000;
  min-height: 120px;
  margin: 0 auto;
  width: 1060px;
  padding-right: 70px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-item a {
  color: #000000;
  text-decoration: none;
  display: block;
  width: 47px;
  height: 40px;
}

.social-item {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item-vk {
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item-tg {
  background-image: url("../images/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-item-yt {
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-list {
  list-style: none;
  width: 142px;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.contacts-phone {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  width: 331px;
}

.filter-background {
  background-image: url("../images/subscribe-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  min-height: 412px;
}

.filter-background-container {
  width: 1060px;
  padding: 70px 70px;
  padding-top: 35px;
}

.catalog-filter {
  width: 1060px;
  display: flex;
}

.main-inner h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  min-width: 114px;
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  position: relative;
}

.breadcrumbs-item {
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url("../images/arrow-catalog.svg");
  width: 8px;
  height: 20px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}

.breadcrumbs-item a {
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 16px;
}

.button-catalog-filter {
  width: 191px;
  height: 36px;
  border-radius: 4px;
  padding: 0;
  border: none;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.button-submit {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-reset {
  color: #ffffff;
  background-color: rgba(130, 179, 211, 0);
}

.catalog-filter-group {
  padding: 0;
}

.select-container {
  display: flex;
  width: 1060px;
  min-height: 49px;
  padding: 50px 70px;
  padding-bottom: 40px;
  align-items: center;
}

.select-control {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #333333;
  width: 292px;
  height: 49px;
  margin-left: 200px;
  margin-right: 70px;
  border-radius: 4px;
  appearance: none;
  padding: 12px 20px;
  padding-right: 40px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.border-state {
  border: 2px solid rgba(229, 229, 229, 1);
}

.border-state:hover {
  border-color: rgba(104, 162, 202, 1);
}

.border-state:focus {
  outline: none;
  border-color: rgba(63, 94, 114, 1);
}

.border-state:disabled {
  opacity: 30%;
}

.page-search {
  margin-right: 200px;
  width: 338px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-background .catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-background .catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.page-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.button-filter-container {
  width: 160px;
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button-filter {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  box-sizing: border-box;
}

.button-filter-state:hover {
  border: 2px solid hsla(0, 0%, 0%, 1);
}

.button-filter-state:focus {
  outline: none;
  border: 2px solid hsla(204, 48%, 60%, 1);
}

.button-filter-state:active {
  border: 2px solid hsla(0, 0%, 0%, 1)
}


.button-container-filter {
  display: grid;
  gap: 32px;
}

.product-list {
  list-style: none;
  width: 1060px;
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
}

.product-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.product-card p {
  margin: 0;
}

.product-card img {
  margin-bottom: 16px;
  display: block;
}

.product-card a {
  color: #000000;
  text-decoration: none;
  display: block;
}

.product-card-price {
  width: 140px;
  margin-left: auto;
  text-align: end;
}

.product-card-button-favorites {
  margin-left: auto;
}

.star-rating {
  display: flex;
  margin-bottom: 0;
}

.product-card h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: #000000;
}

.product-card {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #e6e6e6;
  color: #333333;
  min-height: 438px;
  padding: 20px 18px;
  box-sizing: border-box;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;

}

.product-card-link {
  grid-column: 1/ -1;
}

.product-card .product-card-button {
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 140px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .product-card-button-favorites {
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 140px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .rating {
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  width: 140px;
  min-height: 37px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .stars {
  width: 140px;
  min-height: 37px;
  justify-content: start;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0 70px;
  gap: 8px;
  margin: 0;
  margin-bottom: 60px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-catalog-container {
  display: flex;
  min-height: 414px;
  align-items: center;
}

.subscription-catalog {
  color: #000000;
  min-height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subscription-catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscription-catalog p {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.button-state:active {
  color: rgba(255, 255, 255, 0.3);
}

/* lightness  есть ли такое свойство? */
/* .button-state {
  filter: brightness(100%);
} */

/* .button-state:disabled {
  opacity: 10%;

} */

/* .button-state:hover {
  filter: brightness(80%);
} */

.button-state:active {
  background-color: #7db54f;
  color:rgba(255, 255, 255, 1);
  }
