@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #fff;
  color: #000000;
}

/*pages*/

.page-header {
  background: #fff;
  color: #000000;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  list-style-type: none;
}

.menu-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
}

.hero {
  color: #000000;
  background-color: #fff;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 485px;
  text-align: center;
}

.hero-advantages .lead {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.hero-advantages  p{
  font-family: "PT Sans", sans-serif;
  color:#333333;
  background-color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

}
